---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostCard from '@components/PostCard.astro';

interface Props {
  posts: { frontmatter: Frontmatter }[];
}

export async function getStaticPaths() {
  const posts = await Astro.glob<Frontmatter>('../posts/*.md');
  const uniqueTags = [
    ...new Set(posts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const tag = Astro.params.tag!;
const posts = Astro.props.posts;
---

<BaseLayout pageTitle={tag}
  ><h1 class="text-4xl md:text-5xl text-center">
    Posts tagged with <span class="font-bold">{tag}</span>
  </h1>
  <ul>
    {posts.map((post) => <PostCard {...post} />)}
  </ul>
</BaseLayout>
