---
import BaseLayout from '../../layouts/BaseLayout.astro';
const posts = await Astro.glob('../posts/*.md');
const uniqueTags = [
  ...new Set(posts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle={'tags'}>
  <ul class="flex flex-col">
    {
      uniqueTags.map((tag) => (
        <li>
          <a href={`tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
