---
import BaseLayout from '@layouts/BaseLayout.astro';
import Tag from '@components/Tag.astro';

const posts = await Astro.glob('../posts/*.md');
const uniqueTags = [
  ...new Set(posts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle={'tags'}>
  <h1 class="text-4xl md:text-5xl text-center">All Tags</h1>
  <ul class="flex flex-col items-center text-xl font-bold">
    {
      uniqueTags.map((tag) => (
        <li>
          <Tag type={tag} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
