---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About me';
---

<BaseLayout pageTitle="About | Omri Green">
  <h1>{pageTitle}</h1>
  <h2>This is a test</h2>
</BaseLayout>
