---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="About | Omri Green">
  <h1 class="text-4xl md:text-5xl text-center">About Me</h1>
  <p class="text-center">This page is not ready yet. Please come back later!</p>
</BaseLayout>
