---
---

<footer
  class="sticky top-full text-center flex flex-col gap-5 justify-between mt-3"
>
  <div class="flex flex-col gap-5 justify-between md:flex-row">
    <form class="flex flex-col gap-2 items-center md:block">
      <label for="email" class="font-bold">Newsletter:</label>
      <input
        type="email"
        id="email"
        required
        placeholder="your@email.com"
        class="border-2 border-neutral-400 rounded-md focus:border-primary-400 active:border-primary-400 outline-none transition-colors px-1 dark:text-black"
      />
      <button
        class="p-2 rounded-md hover:bg-primary-400 border-2 border-neutral-400 transition-colors"
        >Subscribe</button
      >
    </form>
    <p class="text-2xl flex gap-3 justify-center">
      <a href="https://github.com/OGreeni" target="_blank"
        ><i class="fa-brands fa-github hover:text-primary-400 transition-colors"
        ></i>
      </a>
      <a
        href="https://www.linkedin.com/in/omri-green-880091240/"
        target="_blank"
        ><i
          class="fa-brands fa-linkedin hover:text-primary-400 transition-colors"
        ></i>
      </a>
      <a href="https://www.youtube.com/@ogreeni" target="_blank"
        ><i
          class="fa-brands fa-youtube hover:text-primary-400 transition-colors"
        ></i>
      </a>
      <a href="https://www.twitter.com/ogreeni1" target="_blank"
        ><i
          class="fa-brands fa-twitter hover:text-primary-400 transition-colors"
        ></i>
      </a>
      <a href="mailto:omri.green1@gmail.com">
        <i class="fa-solid fa-envelope hover:text-primary-400 transition-colors"
        ></i>
      </a>
    </p>
  </div>
  <p class="text-sm">Copyright &#169; 2022 Omri Green All rights reserved.</p>
</footer>
