---
import '../styles/global.css';
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<div class="max-w-2xl mx-auto min-h-screen px-8 py-2">
  <Header />
  <slot />
  <Footer />
</div>
