---
---

<div
  class="absolute inset-0 bg-white z-10 flex-col justify-center items-center gap-20 text-4xl flex hidden"
  id="mobile-menu"
>
  <button
    class="top-5 right-5 absolute hover:text-primary-400 transition-colors"
    id="mobile-menu-close"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
  <a
    href="/about/"
    class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
    >About</a
  >
  <a
    href="/blog/"
    class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
    >Blog</a
  >
  <a
    href="/tags/"
    class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
    >Tags</a
  >
</div>
