---
import MobileMenu from './MobileMenu.astro';
---

<nav class="flex justify-between text-2xl w-full">
  <div>
    <a href="/"
      ><i class="fa-solid fa-house hover:text-primary-400 transition-colors"
      ></i>
    </a>
  </div>
  <div class="hidden md:flex gap-3">
    <a
      href="/about/"
      class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
      >About</a
    >
    <a
      href="/blog/"
      class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
      >Blog</a
    >
    <a
      href="/tags/"
      class="relative after:absolute after:w-full after:bottom-0 after:left-0 hover:after:border-primary-400 hover:after:border-b-4 after:transition-all"
      >Tags</a
    >
  </div>
  <MobileMenu />
</nav>
